<div class="main">
  <div class="title">Survey Builder
    <button class="btn_style" nz-button nzType="default" (click)="logout()">Logout</button>
    <span>Logged in：{{loginUser}} </span>
  </div>
  <div class="body">
    <div class="leftBar">
      <div class="iconBox" [style.backgroundColor]="curBox[0] ? 'gold' : 'beige'" (click)="chooseIcon(0)">
        <img alt="icon for quesiton bank" src="assets/problem.png" />
        Question Bank
      </div>
      <div class="iconBox" [style.backgroundColor]="curBox[1] ? 'gold' : 'beige'" (click)="chooseIcon(1)">
        <img alt="icon for survey bank" src="assets/survey.png" />
        Survey Bank
      </div>
      <div class="iconBox" [style.backgroundColor]="curBox[2] ? 'gold' : 'beige'" (click)="chooseIcon(2)">
        <img alt="icon for survey responses" src="assets/answer.png" />
        Survey Responses
      </div>
    </div>
    <div class="rightContent">
      <div class="content" *ngIf="curBox[0]">
        <app-q-mgmt></app-q-mgmt>
      </div>
      <div class="content" *ngIf="curBox[1]">
        <app-s-mgmt></app-s-mgmt>
      </div>
      <div class="content" *ngIf="curBox[2]">
        <app-s-answer [flag]="'1'"></app-s-answer>
      </div>
    </div>
  </div>
</div>